.translation-table
    thead tr
        th:not(:first-child)
            text-align: center
    tbody tr
        td:not(:first-child)
            cursor: pointer
        td:first-child
            font-style: italic
