<div class="p-grid p-justify-around">
    <p-panel>
        <p-header>Izopropylen login</p-header>

        <div class="content">

            <div class="p-grid ui-fluid">
                <div class="p-col-12 ui-fluid">
                    <input pInputText type="text" placeholder="Username" />
                </div>

                <div class="p-col-12 ui-fluid">
                    <input pInputText type="password" placeholder="Password" />
                </div>
            </div>
        </div>

        <p-footer>
            <div class="p-grid p-justify-end">
                <div class="p-col-3 ui-fluid">
                    <button pButton label="Log in"></button>
                </div>
            </div>
        </p-footer>
    </p-panel>
</div>