<div class="p-grid p-justify-around">
    <p-panel>
        <p-header>Izopropylen login</p-header>
        <form [formGroup]="form">
            <div class="content">
                <div class="p-grid ui-fluid">
                    <div class="p-col-12 ui-fluid">
                        <input pInputText type="text" placeholder="Username" formControlName="username" />
                    </div>

                    <div class="p-col-12 ui-fluid">
                        <input pInputText type="password" placeholder="Password" formControlName="password" />
                    </div>
                </div>
            </div>
        </form>

        <p-footer>
            <div class="p-grid">
                <div class="p-col ui-fluid">
                    <a routerLink='/register' pButton class="ui-button-secondary" label="Register"></a>
                </div>
                <div class="p-col"></div>
                <div class="p-col ui-fluid">
                    <button pButton label="Log in" (click)="login()" [disabled]="!form.valid"></button>
                </div>
            </div>
        </p-footer>
    </p-panel>
</div>