<div class="p-grid p-justify-around ui-widget">
    <div class="p-col">
        <h1>My projects</h1>

        <p-table [value]="memberships$ | async">
            <ng-template pTemplate="header" let-mem>
                <tr>
                    <th>Project name (id)</th>
                    <th>My project role</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mem>
                <tr>
                    <td>{{mem.name}} ({{mem.projectId}})</td>
                    <td>{{mem.role}}</td>
                    <td>
                        <a routerLink="/projects/{{mem.projectId}}">Detail</a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>